img {

    width: 400px;
    height: auto;

}

h1 {

    color: red;
    text-align: center;

}

h2 {

    color: red;

}

.ingredients, .steps {

    color: blue;

}

.descriptionshort {

    color: violet;

}